---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Inventory from '../components/Inventory.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="ðŸƒ genius invocation tcg deck randomizer">
	<header>
		<Nav></Nav>
	</header>
	<main class="container">
		<section>
			<Inventory></Inventory>
		</section>
	</main>
	<Footer></Footer>
</Layout>

<style lang="scss">
    @use "@picocss/pico/scss/pico";
</style>