---
import { db, Cards, eq, sql } from 'astro:db';

const cards = await db.select().from(Cards).orderBy(sql`random()`).limit(3).where(
    eq(Cards.selected, true)
);
---

<div class="grid gap-4 grid-cols-3">
	{cards.map(({ name, url }) => (
		<div class="card">
			<a href={url}>
			<img
				src={`/images/${name}.webp`}
				decoding="async"
				loading="lazy"
				alt={`The ${name} TCG card from Genshin Impact`}
			/>
			</a>
		</div>
		))}
  </div>

<style lang="scss">
	 .card {
  		-webkit-transition-property: all;
  		-webkit-transition-duration: 0.3s;
  		-webkit-transition-timing-function: ease;
  		transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

		&:hover { transform: scale(1.05);  }
	}
</style>