<footer class="space-y-4">
    <p>૮ ˶ᵔ ᵕ ᵔ˶ ა</p>
    <p>
      hi ~ i'm <a class="underline decoration-2 underline-offset-2 decoration-indigo-400" href="https://jillian.cloud">jillian</a> &amp; i made this
      randomizer to play genius invocation with my friends. i'll do my best to
      keep it updated when new cards come out. i hope it's useful to you!
    </p>
    <p><strong>last updated:</strong> april 30, 2024</p>
    <p>♥️</p>
</footer>