<nav>
    <ul>
      <li><strong>tcg deck randomizer!</strong></li>
    </ul>
    <ul>
      <li><a class="underline decoration-2 underline-offset-2 decoration-indigo-400" href="/index.html">reshuffle</a></li>
      <!-- <li><a class="underline underline-offset-8" href="/inventory">inventory</a></li> -->
    </ul>
  </nav>