---
import Button_primary from './Button_primary.astro';
const url_primary = '/twoplayers';
const label_primary = "reshuffle";

import Button_secondary from './Button_secondary.astro';
const url_secondary = '/';
const label_secondary = "single player";
---
<nav>
    <ul class="flex space-x-4">
      <li class="cursor-pointer" >
        <Button_primary url={url_primary} label={label_primary}></Button_primary>
      </li>
      <li class="cursor-pointer" >
        <Button_secondary url={url_secondary} label={label_secondary}></Button_secondary>
      </li>
    </ul>
  </nav>